.hidden {
  display: none;
}

.nav-bar {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}

.nav-menu {
    width: 100%;
    background-color: #1C2229;
    margin-bottom: 0px;
    transition: 0.5s;
}

.logo {
    float: left;
    text-align: left;
}

.logo h1 {
    font-size: 32px;
    color: #3C3B48;
    font-family: Helvetica-Neue-STD-65;
    letter-spacing: 1px;
    font-weight: bold;
}

.menu-icon {
    color: black;
    margin-top: 9px;
    font-size: 20px;
}

.menu-icon:hover {
    color: #2855FF;
    cursor: pointer;
}

.full-options {
    margin-top: 10px;
    float: right;

    .menu  {
        position: relative;
        display: inline-block;
        font-weight: 300;
        color: #2855FF;
        transition: color .2s ease;
        text-decoration: none;
        font-family: "SFProSB";
    
        &:hover {
            cursor: pointer;
            color: #2855FF;
    
            &::after,
            &::before {
                width: 100%;
                left: 0;
            }
        }
    
        &::after,
        &::before {
            content: '';
            position: absolute;
            top: calc(90% + 5px);
            width: 0;
            right: 0;
            height: 2px;
        }
    
        &::before {
            transition: width .3s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
            background: #2855FF;
        }
    }
    
}

.full-options a {
    margin-left: 20px;
    display: block;
    float: right;
    color: #1C2229;
}

.full-options a:hover {
    cursor: pointer;
    color: #4895F0;
    text-decoration: none;
}

.resume-options{
    color:#2855FF;  
}

.resume-options:hover {
    cursor: pointer;
    text-decoration: none;
}



.short-name { display: none; }
.short-options { display: none; }

// Display AJ instead of Amar Jasarbasic
@media (max-width: 1200px) {
    .short-name { display: inline-block; }
    .full-name { display: none; }

    .short-options { float: right; display: block; margin-right: 20px; }
    .full-options { display: none; }
}



.resume-link:hover {
    cursor: pointer;
    color: #4895F0;
    text-decoration: none;
}

