.App {
  text-align: center;
}

@font-face {
  font-family: SFProThin;
  src: url(fonts/SF-Pro-Display-Thin.ttf);
}
@font-face {
  font-family: SFProSB;
  src: url(fonts/SF-Pro-Display-Semibold.ttf);
}
@font-face {
  font-family: SFProReg;
  src: url(fonts/SF-Pro-Display-Regular.ttf);
}
@font-face {
  font-family: SFProMed;
  src: url(fonts/SF-Pro-Display-Medium.ttf);
}
@font-face {
  font-family: SFProLight;
  src: url(fonts/SF-Pro-Display-Light.ttf);
}
@font-face {
  font-family: SFProHeavy;
  src: url(fonts/SF-Pro-Display-Heavy.ttf);
}
@font-face {
  font-family: SFProBold;
  src: url(fonts/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: SFProBlack;
  src: url(fonts/SF-Pro-Display-Black.ttf);
}


@font-face {
  font-family: CeraThin;
  src: url(fonts/CeraPro-Thin.ttf);
}
@font-face {
  font-family: CeraReg;
  src: url(fonts/CeraPro-Regular.ttf);
}
@font-face {
  font-family: CeraMed;
  src: url(fonts/CeraPro-Medium.ttf);
}
@font-face {
  font-family: CeraLight;
  src: url(fonts/CeraPro-Light.ttf);
}
@font-face {
  font-family: CeraBold;
  src: url(fonts/CeraPro-Bold.ttf);
}
@font-face {
  font-family: CeraBlack;
  src: url(fonts/CeraPro-Black.ttf);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


span::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection {
    background: #a8a8a8;
    color: white;
}
img {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -webkit-user-drag: none;

}

.MuiSnackbarContent-message{
  color: #485160;
  font-family: "SFProSB";
  letter-spacing: 0.4px;
}